---
layout: give-default-layout
---

{% include primary-nav.html %}
{% include mobile-nav.html %}
{% include sub-nav.html %}

<div class="screenContent">
  <div class="">
    <div class="section-title  u-centerBlock mb">
      <h1 class="u-inlineBlock  banner-title  ">Your Gift Cart</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <!-- Cart Summary -->
          <div class="panel">
            <div class="panel-body">

              <div class="pull-right tip-link">
                <small><i class="fa fa-question-circle"></i> HELP</small>
              </div>

              <table class="table giftsum-table">
                <thead>
                <tr>
                  <th class="th-title-gift">Gift</th>
                  <th class="th-title-frequency">Frequency</th>
                  <th class="th-title-amount">Amount</th>
                  <th class="th-title-actions"></th>
                </tr>
                </thead>
                <tbody>
                <tr class="giftsum-gift-row">
                  <td class="td-gift">
                    <img src="http://lorempixel.com/90/70/people/" class="giftsum-profile pull-left"/>
                    <span class="giftsum-person giftsum-title">Jean Deuax</span>
<span class="giftsum-accountnum giftsum-detail"><span
        class="hidden-xs">Ministry </span>#334343223</span>
                  </td>
                  <td class="td-frequency">
                    <span class="giftsum-frequency giftsum-title">Monthly</span>
                    <span class="giftsum-date giftsum-detail">Starts on: 7/8/2019</span>
                  </td>
                  <td class="td-amount">
                    <span class="giftsum-about giftsum-title">$50.00</span>
                    <span class="giftsum-detail"><span class=" visible-xs">Gift Amount</span></span>
                  </td>
                  <td class="td-actions giftsum-actions">
                    <a href="" class="btn btn-link btn-giftsum-action">Edit</a>
                    <span class="sep"> | </span>
                    <a href="" class="btn btn-link btn-giftsum-action"><i class="fa fa-close"></i> Remove</a>
                  </td>
                </tr>
                <tr class="giftsum-gift-row">
                  <td class="td-gift">
                    <img src="http://lorempixel.com/90/70/people/" class="giftsum-profile pull-left"/>
                    <span class="giftsum-person giftsum-title">Jean Deuax</span>
<span class="giftsum-accountnum giftsum-detail"><span
        class="hidden-xs">Ministry </span>#3343223</span>
                  </td>
                  <td class="td-frequency">
                    <span class="giftsum-frequency giftsum-title">Monthly</span>
                    <span class="giftsum-date giftsum-detail">Starts on: 7/8/2019</span>
                  </td>
                  <td class="td-amount">
                    <span class="giftsum-about giftsum-title">$50.00</span>
                    <span class="giftsum-detail"><span class=" visible-xs">Gift Amount</span></span>
                  </td>
                  <td class="td-actions giftsum-actions">
                    <a href="" class="btn btn-link btn-giftsum-action">Edit</a>
                    <span class="sep"> | </span>
                    <a href="" class="btn btn-link btn-giftsum-action"><i class="fa fa-close"></i> Remove</a>
                  </td>
                </tr>
                </tbody>
                <tfoot class="mobile-footer-persist">
                <tr>
                  <td colspan="3" class="text-right">
                    <span class="giftsum-line">Your Monthly Gift Total: <strong>$50.00</strong></span>
                    <span class="giftsum-line">Your Single Total: <strong>$100.00</strong></span>
                  </td>
                  <td class="checkout-cta">
                    <button type="submit" class="btn btn-primary btn-md btn-block">
                      Proceed to Checkout
                    </button>
                  </td>
                </tr>
                </tfoot>
              </table>


            </div>
          </div>
          <!-- // Cart Summary -->

          <!-- Slick Cart Related -->
          <div class="panel">
            <div class="panel-body">

              <h3 class="panel-name">You May Also Be Interested In</h3>
              <div id="related-carousel" class="slick-related-carousel">

                <div class="col-md-4">
                  <div class="panel panel-default">
                    <div class="">
                      <a href=""><img src="http://lorempixel.com/330/220/city/"/></a>
                    </div>
                    <div class="panel-body">
                      <h3><a href="" class="panel-title">Help Start a Cru on a campus Near You</a></h3>
                      <p>Optional Description Would be IN this spot here, but it's optional.</p>
                      <a href="" class="u-linkClean btn-default-border  icon--readNext">Read More </a>
                    </div>
                    <div class="panel-box">
                      <a href="" class="btn btn-block btn-default">Give a gift</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="panel panel-default">
                    <div class="">
                      <a href=""><img src="http://lorempixel.com/330/220/city/"/></a>
                    </div>
                    <div class="panel-body">
                      <h3><a href="" class="panel-title">Help Start a Cru on a campus Near You</a></h3>
                      <p>Optional Description Would be IN this spot here, but it's optional.</p>
                      <a href="" class="u-linkClean btn-default-border  icon--readNext">Read More </a>
                    </div>
                    <div class="panel-box">
                      <a href="" class="btn btn-block btn-default">Give a gift</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="panel panel-default">
                    <div class="">
                      <a href=""><img src="http://lorempixel.com/330/220/city/"/></a>
                    </div>
                    <div class="panel-body">
                      <h3><a href="" class="panel-title">Help Start a Cru on a campus Near You</a></h3>
                      <p>Optional Description Would be IN this spot here, but it's optional.</p>
                      <a href="" class="u-linkClean btn-default-border  icon--readNext">Read More </a>
                    </div>
                    <div class="panel-box">
                      <a href="" class="btn btn-block btn-default">Give a gift</a>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="panel panel-default">
                    <div class="">
                      <a href=""><img src="http://lorempixel.com/330/220/city/"/></a>
                    </div>
                    <div class="panel-body">
                      <h3><a href="" class="panel-title">Help Start a Cru on a campus Near You</a></h3>
                      <p>Optional Description Would be IN this spot here, but it's optional.</p>
                      <a href="" class="u-linkClean btn-default-border  icon--readNext">Read More </a>
                    </div>
                    <div class="panel-box">
                      <a href="" class="btn btn-block btn-default">Give a gift</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="panel panel-default">
                    <div class="">
                      <a href=""><img src="http://lorempixel.com/330/220/city/"/></a>
                    </div>
                    <div class="panel-body">
                      <h3><a href="" class="panel-title">Help Start a Cru on a campus Near You</a></h3>
                      <p>Optional Description Would be IN this spot here, but it's optional.</p>
                      <a href="" class="u-linkClean btn-default-border  icon--readNext">Read More </a>
                    </div>
                    <div class="panel-box">
                      <a href="" class="btn btn-block btn-default">Give a gift</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="panel panel-default">
                    <div class="">
                      <a href=""><img src="http://lorempixel.com/330/220/city/"/></a>
                    </div>
                    <div class="panel-body">
                      <h3><a href="" class="panel-title">Help Start a Cru on a campus Near You</a></h3>
                      <p>Optional Description Would be IN this spot here, but it's optional.</p>
                      <a href="" class="u-linkClean btn-default-border  icon--readNext">Read More </a>
                    </div>
                    <div class="panel-box">
                      <a href="" class="btn btn-block btn-default">Give a gift</a>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
          <!-- // Slick Cart Related -->

          <!-- Cart Search -->
          <div class="panel">
            <div class="panel-body text-center">
              <h3 class="panel-name">Search by Name, Keyword, or Account Number</h3>
              <form class="form-inline text-center">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" size="60" class="form-control">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                  </div>
                </div>

              </form>
              <h5 class="text-uppercase small-text mt">Or Search by:</h5>
              <a href="" class="btn btn-link">Staff</a> | <a href="" class="btn btn-link">Ministries</a> | <a href=""
                                                                                                              class="btn btn-link">Fund
              Appeals</a>
            </div>
          </div>
          <!-- // Cart Search -->


        </div>


      </div>
    </div>
  </div><!-- //blank wrapper -->
</div><!-- //screenContent -->

<script>
  $(document).ready(function () {
    $('.slick-related-carousel').slick({
      slidesToShow: 3,
      slidesToScroll: 3,
      adaptiveHeight: true,
      dots: false,
      useCSS: true,
      cssEase: 'ease-in-out',
      responsive: [
        {
          breakpoint: 1200,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
            infinite: true,
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 549,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
// You can unslick at a given breakpoint now by adding:
// settings: "unslick"
// instead of a settings object
      ]
    });
  });
</script>

{% include footer-ecfa.html %}
{% include footer.html %}