<!-- Footer ECFA -->
<footer class="container">
  <div class="well well-plain margin-bottom">
    <div class="row">
      <div class="col-md-1 text-center hidden-xs hidden-sm">
        <img src="{{ site.root }}assets/img/logo-ecfa.png" class="image-responsive-center" width="85" alt="ECFA Logo">
      </div>
      <div class="col-md-10">
        <p class='text-center'>All contributions to Cru are income tax deductible and are made with the understanding that Cru has complete discretion and control over the use of all donated funds.</p>
      </div>
      <div class="col-md-1 text-center">
        <img src="{{ site.root }}assets/img/logo-ecfa.png" class="hidden-md hidden-lg image-responsive-center" width="85" alt="ECFA Logo">
        <img src="{{ site.root }}assets/img/logo-digicert.png" class="image-responsive-center pull-right" alt="Digicert Logo">
      </div>
    </div>
  </div>
</footer>