        <!-- Footer Component -->
        <footer class="global-footer">
         <hr class="section-divider">
         <!-- Social wrapper -->
         <div class="mb-  masonry__item">
          <!-- Social -->
          <div class="u-centerBlock">
           <ul class="listInline">
            <li> <a target="_blank" class="socialIcon  socialIcon--facebook u-linkClean" href="https://www.facebook.com/CruGlobal" rel="external"><img src="../assets/svg/facebook.png"></a> </li>
            <li> <a target="_blank" class="socialIcon socialIcon--gplus u-linkClean" href="https://plus.google.com/110018976597685338404/posts" rel="external"><img src="../assets/svg/gplus.png"></a> </li>
            <li> <a target="_blank" class="socialIcon  socialIcon--instagram  icon-instagram  u-linkClean" href="https://instagram.com/cruinstagram/" rel="external"><img src="../assets/svg/Instagram.png"></a></li>
            <li> <a target="_blank" class="socialIcon  socialIcon--linkedin  u-linkClean" href="https://www.linkedin.com/company/cru-global" rel="external"><img src="../assets/svg/linkedin.png"></a> </li>
            <li> <a target="_blank" class="socialIcon  socialIcon--pinterest  icon-pinterest  u-linkClean" href="https://www.pinterest.com/crupins/" rel="external"><img src="../assets/svg/pinterest.png"></a></li>
            <li> <a target="_blank" class="socialIcon  socialIcon--tumblr  icon-tumblr  u-linkClean" href="http://crublog.tumblr.com/" rel="external"><img src="../assets/svg/tumblr.png"></a> </li>
            <li> <a target="_blank" class="socialIcon  socialIcon--twitter  u-linkClean" href="https://twitter.com/crutweets" rel="external"><img src="../assets/svg/twitter.png"></a> </li>
            <li> <a target="_blank" class="socialIcon  socialIcon--vine  icon-vine  u-linkClean" href="https://vine.co/Cru" rel="external"><img src="../assets/svg/vine.png"></a> </li>
           </ul>
          </div>
          <!-- End social-->
         </div>
         <!-- End social wrapper -->
         <nav class="globalFooter-nav" role="supplementary">
          <ul class="listInline  flush--bottom  u-textCenter">
           <li> <a class="globalFooter-link" href="/about/contact-us.html">Contact Us</a> </li>
           <li> <a class="globalFooter-link" href="/about/press.html">Press</a> </li>
           <li> <a class="globalFooter-link" href="/opportunities/careers.html">Careers</a> </li>
           <li> <a class="globalFooter-link" href="/about/terms-of-use.html">Terms of Use</a> </li>
           <li> <a class="globalFooter-link" href="/about/privacy.html">Your Privacy</a> </li>
          </ul>
         </nav>
         <div class="globalFooter-copy  u-textCenter">
          <small>©1994-2016 Cru. All Rights Reserved.</small>
         </div>
        </footer>
        <!-- End footer component -->

        {% include footer-scripts.html %}

      </div><!-- End #js-innerWrap -->
    </div><!-- End #js-outerWrap -->

  </body>
</html>

