<!-- Checkbox to show/hide the navigation menu -->
<input type="checkbox" name="menu" value="toggle" id="toggle" class="hidden-print">
<!-- MOBILE NAV -->
<div class="brunchMenu  fadeIn  hidden-print" role="navigation" id="menu">
    <!-- Lable for #showmenu to hide the menu/uncheck the checkbox -->
    <label class="toggle  navToggle" for="toggle">Menu<i class="icon-hamburger"></i></label>
    <label class="toggle  toggle--close" for="toggle">Close<i class="icon-cancel-circled"></i></label>


    <ul class="card  listBlock">
        <li class="m0">
            <div class="card-shadow  collapsed" role="tab" id="headingOne">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#how-to-know-god"
                   aria-expanded="false" aria-controls="collapseOne" aria-multiselectable="false"> <label
                        class="collapsed  card-title  nav-link  primary-link  js-primary-link"> How to Know God <i
                        class="icon-down-arrow"></i> </label> </a>
            </div>
            <div id="how-to-know-god" class="collapse " role="tabpanel">
                <div class="dropdown  js-dropdown">
                    <ul class="card  listBlock">
                        <li class=""></li>
                        <li class="m0"><a href="/how-to-know-god/would-you-like-to-know-god-personally.html"
                                          class="card-link  card-link--section  icon--link m0"> How to Know God
                            Personally </a></li>
                        <li class="m0"><a href="/how-to-know-god/who-is-jesus-god-or-just-a-good-man/was-jesus-god.html"
                                          class="card-link  card-link--section  icon--link m0"> Jesus: God or Just a
                            Good Man? </a></li>
                        <li class="m0"><a href="/how-to-know-god/jesus-and-the-intellectual.html"
                                          class="card-link  card-link--section  icon--link m0"> Jesus and the
                            Intellectual </a></li>
                        <li class="m0"><a
                                href="/how-to-know-god/did-jesus-christ-really-rise-from-the-dead/why-resurrection-matters.html"
                                class="card-link  card-link--section  icon--link m0"> Why the Resurrection Matters </a>
                        </li>
                        <li class="m0"><a href="/how-to-know-god/my-story-a-life-changed.html"
                                          class="card-link  card-link--section  icon--link m0"> My Story: A Life
                            Changed </a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="m0">
            <div class="card-shadow  collapsed" role="tab" id="headingOne">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#train-and-grow"
                   aria-expanded="false" aria-controls="collapseOne" aria-multiselectable="false"> <label
                        class="collapsed  card-title  nav-link  primary-link  js-primary-link"> Train &amp; Grow <i
                        class="icon-down-arrow"></i> </label> </a>
            </div>
            <div id="train-and-grow" class="collapse " role="tabpanel">
                <div class="dropdown  js-dropdown">
                    <ul class="card  listBlock">
                        <li class=""></li>
                        <li class="m0"><a href="/train-and-grow/spiritual-growth.html"
                                          class="card-link  card-link--section  icon--link m0"> Spiritual Growth </a>
                            <ul class="listBlock  m0">
                                <li><a href="/train-and-grow/spiritual-growth/beginning-with-god.html"
                                       class="card-link--section  icon--link  m0"> Beginning With God </a></li>
                                <li><a href="/train-and-grow/spiritual-growth/core-christian-beliefs.html"
                                       class="card-link--section  icon--link  m0"> Core Christian Beliefs </a></li>
                                <li><a href="/train-and-grow/spiritual-growth/devotionals.html"
                                       class="card-link--section  icon--link  m0"> Devotionals &amp; Quiet Times </a>
                                </li>
                                <li><a href="/train-and-grow/spiritual-growth/prayer.html"
                                       class="card-link--section  icon--link  m0"> Prayer </a></li>
                                <li><a href="/train-and-grow/spiritual-growth/fasting.html"
                                       class="card-link--section  icon--link  m0"> Fasting </a></li>
                            </ul>
                        </li>
                        <li class="m0"><a href="/train-and-grow/life-and-relationships.html"
                                          class="card-link  card-link--section  icon--link m0"> Life &amp;
                            Relationships </a>
                            <ul class="listBlock  m0">
                                <li><a href="/train-and-grow/life-and-relationships/dating.html"
                                       class="card-link--section  icon--link  m0"> Dating </a></li>
                                <li><a href="/train-and-grow/life-and-relationships/marriage.html"
                                       class="card-link--section  icon--link  m0"> Marriage </a></li>
                                <li><a href="/train-and-grow/life-and-relationships/parenting.html"
                                       class="card-link--section  icon--link  m0"> Parenting </a></li>
                                <li><a href="/train-and-grow/life-and-relationships/men.html"
                                       class="card-link--section  icon--link  m0"> For Men </a></li>
                                <li><a href="/train-and-grow/life-and-relationships/women.html"
                                       class="card-link--section  icon--link  m0"> For Women </a></li>
                                <li><a href="/train-and-grow/life-and-relationships/hardships.html"
                                       class="card-link--section  icon--link  m0"> Hardships </a></li>
                                <li><a href="/train-and-grow/life-and-relationships/emotions.html"
                                       class="card-link--section  icon--link  m0"> Emotions </a></li>
                                <li><a href="/train-and-grow/life-and-relationships/holidays.html"
                                       class="card-link--section  icon--link  m0"> Holidays </a></li>
                            </ul>
                        </li>
                        <li class="m0"><a href="/train-and-grow/bible-studies.html"
                                          class="card-link  card-link--section  icon--link m0"> Bible Studies </a></li>
                        <li class="m0"><a href="/train-and-grow/share-the-gospel.html"
                                          class="card-link  card-link--section  icon--link m0"> Share the Gospel </a>
                            <ul class="listBlock  m0">
                                <li><a href="/train-and-grow/share-the-gospel/evangelism-principles.html"
                                       class="card-link--section  icon--link  m0"> Evangelism Principles </a></li>
                                <li><a href="/train-and-grow/share-the-gospel/outreach-strategies.html"
                                       class="card-link--section  icon--link  m0"> Outreach Strategies </a></li>
                                <li><a href="/train-and-grow/share-the-gospel/obstacles-to-faith.html"
                                       class="card-link--section  icon--link  m0"> Obstacles to Faith </a></li>
                            </ul>
                        </li>
                        <li class="m0"><a href="/train-and-grow/help-others-grow.html"
                                          class="card-link  card-link--section  icon--link m0"> Help Others Grow </a>
                            <ul class="listBlock  m0">
                                <li><a href="/train-and-grow/help-others-grow/discipleship.html"
                                       class="card-link--section  icon--link  m0"> Discipleship </a></li>
                                <li><a href="/train-and-grow/help-others-grow/leading-small-groups.html"
                                       class="card-link--section  icon--link  m0"> Leading Small Groups </a></li>
                            </ul>
                        </li>
                        <li class="m0"><a href="/train-and-grow/leadership-training.html"
                                          class="card-link  card-link--section  icon--link m0"> Leadership Training </a>
                            <ul class="listBlock  m0">
                                <li><a href="/train-and-grow/leadership-training/leader-development.html"
                                       class="card-link--section  icon--link  m0"> Leader Development </a></li>
                                <li><a href="/train-and-grow/leadership-training/starting-a-ministry.html"
                                       class="card-link--section  icon--link  m0"> Starting a Ministry </a></li>
                                <li><a href="/train-and-grow/leadership-training/leading-a-team.html"
                                       class="card-link--section  icon--link  m0"> Leading a Team </a></li>
                                <li><a href="/train-and-grow/leadership-training/sending-your-team.html"
                                       class="card-link--section  icon--link  m0"> Sending Your Team </a></li>
                            </ul>
                        </li>
                        <li class="m0"><a href="/train-and-grow/language-resources.html"
                                          class="card-link  card-link--section  icon--link m0"> Language Resources </a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="m0">
            <div class="card-shadow  collapsed" role="tab" id="headingOne">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#communities"
                   aria-expanded="false" aria-controls="collapseOne" aria-multiselectable="false"> <label
                        class="collapsed  card-title  nav-link  primary-link  js-primary-link"> Communities <i
                        class="icon-down-arrow"></i> </label> </a>
            </div>
            <div id="communities" class="collapse " role="tabpanel">
                <div class="dropdown  js-dropdown">
                    <ul class="card  listBlock">
                        <li class=""></li>
                        <li class="m0"><a href="/communities/campus.html"
                                          class="card-link  card-link--section  icon--link m0"> Campus </a>
                            <ul class="listBlock  m0">
                                <li><a href="/communities/campus/about-campus.html"
                                       class="card-link--section  icon--link  m0"> About </a></li>
                                <li><a href="/communities/campus/lifeonmission.html"
                                       class="card-link--section  icon--link  m0"> Life On Mission (100% Sent) </a></li>
                                <li><a href="/communities/campus/creatives-on-mission.html"
                                       class="card-link--section  icon--link  m0"> Creatives On Mission </a></li>
                                <li><a href="/communities/campus/stories.html"
                                       class="card-link--section  icon--link  m0"> Stories </a></li>
                                <li><a href="/communities/campus/contact-us-campus-ministry.html"
                                       class="card-link--section  icon--link  m0"> Contact </a></li>
                            </ul>
                        </li>
                        <li class="m0"><a href="/communities/city.html"
                                          class="card-link  card-link--section  icon--link m0"> City </a>
                            <ul class="listBlock  m0">
                                <li><a href="/communities/city/locations.html"
                                       class="card-link--section  icon--link  m0"> Locations </a></li>
                                <li><a href="/communities/city/stories.html" class="card-link--section  icon--link  m0">
                                    Stories </a></li>
                            </ul>
                        </li>
                        <li class="m0"><a href="/communities/innercity.html"
                                          class="card-link  card-link--section  icon--link m0"> Inner City </a>
                            <ul class="listBlock  m0">
                                <li><a href="/communities/innercity/home.html"
                                       class="card-link--section  icon--link  m0"> Home </a></li>
                                <li><a href="/communities/innercity/give.html"
                                       class="card-link--section  icon--link  m0"> Give </a></li>
                                <li><a href="/communities/innercity/outreach.html"
                                       class="card-link--section  icon--link  m0"> Outreach </a></li>
                                <li><a href="/communities/innercity/discipleship.html"
                                       class="card-link--section  icon--link  m0"> Discipleship </a></li>
                                <li><a href="/communities/innercity/get-involved.html"
                                       class="card-link--section  icon--link  m0"> Get Involved </a></li>
                                <li><a href="/communities/innercity/cities.html"
                                       class="card-link--section  icon--link  m0"> Cities </a></li>
                            </ul>
                        </li>
                        <li class="m0"><a href="/communities/athletes.html"
                                          class="card-link  card-link--section  icon--link m0"> Athletes </a></li>
                        <li class="m0"><a href="/communities/families.html"
                                          class="card-link  card-link--section  icon--link m0"> Families </a></li>
                        <li class="m0"><a href="/HighSchool.html" class="card-link  card-link--section  icon--link m0">
                            High School </a></li>
                        <li class="m0"><a href="/communities/military.html"
                                          class="card-link  card-link--section  icon--link m0"> Cru Military </a></li>
                        <li class="m0"><a href="/communities/locations.html"
                                          class="card-link  card-link--section  icon--link m0"> Locate Cru Near You </a>
                            <ul class="listBlock  m0">
                                <li><a href="/communities/locations/africa.html"
                                       class="card-link--section  icon--link  m0"> Africa </a></li>
                                <li><a href="/communities/locations/americas.html"
                                       class="card-link--section  icon--link  m0"> Americas </a></li>
                                <li><a href="/communities/locations/asia.html"
                                       class="card-link--section  icon--link  m0"> Asia </a></li>
                                <li><a href="/communities/locations/australia-and-oceania.html"
                                       class="card-link--section  icon--link  m0"> Australia-Oceania </a></li>
                                <li><a href="/communities/locations/europe.html"
                                       class="card-link--section  icon--link  m0"> Europe </a></li>
                            </ul>
                        </li>
                        <li class="m0"><a href="/communities/ministries.html"
                                          class="card-link  card-link--section  icon--link m0"> More </a>
                            <ul class="listBlock  m0">
                                <li><a href="/communities/ministries/christian-embassy-dc.html"
                                       class="card-link--section  icon--link  m0"> Christian Embassy, D.C. </a></li>
                                <li><a href="/communities/ministries/christian-embassy-united-nations.html"
                                       class="card-link--section  icon--link  m0"> Christian Embassy, NY </a></li>
                                <li><a href="/communities/ministries/faculty-and-graduates.html"
                                       class="card-link--section  icon--link  m0"> Faculty &amp; Graduates </a></li>
                                <li><a href="/communities/ministries/gain.html"
                                       class="card-link--section  icon--link  m0"> Global Aid Network </a></li>
                                <li><a href="/communities/ministries/the-impact-movement.html"
                                       class="card-link--section  icon--link  m0"> The Impact Movement </a></li>
                                <li><a href="/communities/ministries/the-jesus-film-project.html"
                                       class="card-link--section  icon--link  m0"> The JESUS Film Project® </a></li>
                                <li><a href="/communities/ministries/josh-mcdowell-ministry.html"
                                       class="card-link--section  icon--link  m0"> Josh McDowell Ministry </a></li>
                                <li><a href="/communities/ministries/all.html"
                                       class="card-link--section  icon--link  m0"> All </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="m0">
            <div class="card-shadow  collapsed" role="tab" id="headingOne">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#opportunities"
                   aria-expanded="false" aria-controls="collapseOne" aria-multiselectable="false"> <label
                        class="collapsed  card-title  nav-link  primary-link  js-primary-link"> Opportunities <i
                        class="icon-down-arrow"></i> </label> </a>
            </div>
            <div id="opportunities" class="collapse " role="tabpanel">
                <div class="dropdown  js-dropdown">
                    <ul class="card  listBlock">
                        <li class=""></li>
                        <li class="m0"><a href="/opportunities/all.html"
                                          class="card-link  card-link--section  icon--link m0"> All </a></li>
                        <li class="m0"><a href="/opportunities/careers.html"
                                          class="card-link  card-link--section  icon--link m0"> Careers </a>
                            <ul class="listBlock  m0">
                                <li><a href="/jobs.html" class="card-link--section  icon--link  m0"> Hourly &amp;
                                    Salaried Positions </a></li>
                                <li><a href="/opportunities/careers/world-headquarters.html"
                                       class="card-link--section  icon--link  m0"> World Headquarters Opportunities </a>
                                </li>
                                <li><a href="/opportunities/careers/supported-staff.html"
                                       class="card-link--section  icon--link  m0"> Missionary Staff Careers </a></li>
                                <li><a href="/opportunities/careers/international.html"
                                       class="card-link--section  icon--link  m0"> International Missions
                                    Opportunities </a></li>
                                <li><a href="/opportunities/careers/staff-profiles.html"
                                       class="card-link--section  icon--link  m0"> Staff Profiles </a></li>
                            </ul>
                        </li>
                        <li class="m0"><a href="/opportunities/internships.html"
                                          class="card-link  card-link--section  icon--link m0"> Internships </a>
                            <ul class="listBlock  m0">
                                <li><a href="/opportunities/internships/international.html"
                                       class="card-link--section  icon--link  m0"> International Internships </a></li>
                                <li><a href="/opportunities/internships/us.html"
                                       class="card-link--section  icon--link  m0"> US Internships </a></li>
                                <li><a href="/opportunities/internships/hq-orlando.html"
                                       class="card-link--section  icon--link  m0"> Headquarters Internship </a></li>
                                <li><a href="/previewweekend.html" class="card-link--section  icon--link  m0"> Preview
                                    Weekend </a></li>
                            </ul>
                        </li>
                        <li class="m0"><a href="/opportunities/mission-trips.html"
                                          class="card-link  card-link--section  icon--link m0"> Mission Trips </a>
                            <ul class="listBlock  m0">
                                <li><a href="/opportunities/mission-trips/upcoming.html"
                                       class="card-link--section  icon--link  m0"> Upcoming Cru Mission Trips </a></li>
                                <li><a href="/summer.html" class="card-link--section  icon--link  m0"> Summer
                                    Missions </a></li>
                            </ul>
                        </li>
                        <li class="m0"><a href="/opportunities/volunteer.html"
                                          class="card-link  card-link--section  icon--link m0"> Volunteer </a>
                            <ul class="listBlock  m0">
                                <li><a href="/opportunities/volunteer/orlando-openings.html"
                                       class="card-link--section  icon--link  m0"> Orlando Openings </a></li>
                                <li><a href="/opportunities/volunteer/volunteer-profiles.html"
                                       class="card-link--section  icon--link  m0"> Volunteer Profiles </a></li>
                                <li><a href="/opportunities/volunteer/sign-up.html"
                                       class="card-link--section  icon--link  m0"> Volunteer Sign Up </a></li>
                                <li><a href="/opportunities/volunteer/contact-the-volunteer-office.html"
                                       class="card-link--section  icon--link  m0"> Contact Us </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="m0">
            <div class="card-shadow  collapsed" role="tab" id="headingOne">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#about" aria-expanded="false"
                   aria-controls="collapseOne" aria-multiselectable="false"> <label
                        class="collapsed  card-title  nav-link  primary-link  js-primary-link"> About <i
                        class="icon-down-arrow"></i> </label> </a>
            </div>
            <div id="about" class="collapse " role="tabpanel">
                <div class="dropdown  js-dropdown">
                    <ul class="card  listBlock">
                        <li class=""></li>
                        <li class="m0"><a href="/about/donor-relations.html"
                                          class="card-link  card-link--section  icon--link m0"> Donor Relations </a>
                            <ul class="listBlock  m0">
                                <li><a href="/about/donor-relations/annual-report.html"
                                       class="card-link--section  icon--link  m0"> Annual Report </a></li>
                                <li><a href="/about/donor-relations/how-staff-members-raise-their-support.html"
                                       class="card-link--section  icon--link  m0"> How Staff Raise Their Salaries </a>
                                </li>
                                <li><a href="/about/donor-relations/stewardship-guidelines.html"
                                       class="card-link--section  icon--link  m0"> Our Commitment to Stewardship </a>
                                </li>
                            </ul>
                        </li>
                        <li class="m0"><a href="/about/what-we-do.html"
                                          class="card-link  card-link--section  icon--link m0"> What We Do </a>
                            <ul class="listBlock  m0">
                                <li><a href="/about/what-we-do/milestones.html"
                                       class="card-link--section  icon--link  m0"> Milestones </a></li>
                                <li><a href="/about/what-we-do/innovators-in-evangelism-discipleship.html"
                                       class="card-link--section  icon--link  m0"> Evangelism and Discipleship </a></li>
                                <li><a href="/about/what-we-do/in-their-words.html"
                                       class="card-link--section  icon--link  m0"> In Their Words </a></li>
                            </ul>
                        </li>
                        <li class="m0"><a href="/about/statement-of-faith.html"
                                          class="card-link  card-link--section  icon--link m0"> Statement of Faith </a>
                        </li>
                        <li class="m0"><a href="/about/our-leadership.html"
                                          class="card-link  card-link--section  icon--link m0"> Our Leadership </a>
                            <ul class="listBlock  m0">
                                <li><a href="/about/our-leadership/cru-leadership.html"
                                       class="card-link--section  icon--link  m0"> US Leadership </a></li>
                                <li><a href="/about/our-leadership/international.html"
                                       class="card-link--section  icon--link  m0"> Global Leadership </a></li>
                                <li><a href="/about/our-leadership/board-of-directors.html"
                                       class="card-link--section  icon--link  m0"> Board of Directors </a></li>
                                <li><a href="/about/our-leadership/area-team-leaders.html"
                                       class="card-link--section  icon--link  m0"> Area Team Leaders </a></li>
                                <li><a href="/about/our-leadership/our-founders.html"
                                       class="card-link--section  icon--link  m0"> Our Founders </a></li>
                            </ul>
                        </li>
                        <li class="m0"><a href="/about/press.html" class="card-link  card-link--section  icon--link m0">
                            Press </a></li>
                        <li class="m0"><a href="/about/worldwide-challenge-magazine.html"
                                          class="card-link  card-link--section  icon--link m0"> Worldwide Challenge
                            Magazine </a>
                            <ul class="listBlock  m0">
                                <li><a href="/about/worldwide-challenge-magazine/next.html"
                                       class="card-link--section  icon--link  m0"> NEXT in Worldwide Challenge </a></li>
                            </ul>
                        </li>
                        <li class="m0"><a href="/stories.html" class="card-link  card-link--section  icon--link m0">
                            Latest Stories </a>
                            <ul class="listBlock  m0">
                                <li><a href="/about/latest-stories/archives.html"
                                       class="card-link--section  icon--link  m0"> Archives </a></li>
                            </ul>
                        </li>
                        <li class="m0"><a href="/about/contact-us.html"
                                          class="card-link  card-link--section  icon--link m0"> Contact Us </a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="m0">
            <div class="card-shadow  collapsed" role="tab" id="headingOne">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#store" aria-expanded="false"
                   aria-controls="collapseOne" aria-multiselectable="false"> <label
                        class="collapsed  card-title  nav-link  primary-link  js-primary-link"> Store <i
                        class="icon-down-arrow"></i> </label> </a>
            </div>
            <div id="store" class="collapse " role="tabpanel">
                <div class="dropdown  js-dropdown">
                    <ul class="card  listBlock">
                        <li class=""></li>
                        <li class="m0"><a href="/store/all-stores.html"
                                          class="card-link  card-link--section  icon--link m0"> All Stores </a></li>
                        <li class="m0"><a href="/store/featured-products.html"
                                          class="card-link  card-link--section  icon--link m0"> Featured Products </a>
                        </li>
                        <li class="m0"><a href="/store/free.html" class="card-link  card-link--section  icon--link m0">
                            Free </a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li><a href="/give.html" class="card-title  nav-link  primary-link  u-linkClean">Give</a></li>
    </ul>
</div>
<!-- END MOBILE NAV -->
