<div class="reveal-modal-bg" style="display: block;"></div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg give-modal" role="document">
        <div class="modal-content">
            <div class="modal-header" style="display: none;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <div class="modal-title"></div>
            </div>

            <div class="give-modal-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="modal-title" id="myModalLabel">Give a Gift</h4>
                    </div>
                    <div class="col-sm-6">
                        <div class="give-modal-recipient">
                            <img src="http://lorempixel.com/330/220/city/" class="recipient-image"/>
<span class="recipient-title">
Martha Washington
</span>
<span class="recipient-id">
ID: 33333777
</span>
                        </div>
                    </div>
                </div>
            </div>
            <form>

                <div class="modal-body">

                    <div class="panel  panel-default  panel-plain">

                        <div class="panel panel-default give-modal-panel">
                            <div class="panel-heading">Gift Amount</div>
                            <div class="panel-body">

                                <div class="gift-offer inactive">
                                    <i class="fa fa-dot-circle-o"></i> Premium Offer Available with gifts of $150 or
                                    more.
                                </div>

                                <div class="gift-offer inactive">
                                    <i class="fa fa-dot-circle-o"></i> Premium Offer Available with gifts of $150 or
                                    more.
                                </div>

                                <div class="gift-offer active">
                                    <i class="fa fa-check"></i> Free hard-cover book valued at $59 with gift of $250 or
                                    more.
                                </div>

                                <div class="" data-toggle="buttons">
                                    <label class="btn  btn-radio       active  ">
                                        <input type="radio" name='amount' checked><i
                                            class="fa fa-check-circle-o fa-2x"></i><span class="number"> $50</span>
                                    </label>
                                    <label class="btn  btn-radio   ">
                                        <input type="radio" name='amount'><i
                                            class="fa fa-check-circle-o fa-2x"></i><span class="number"> $100</span>
                                    </label>
                                    <label class="btn  btn-radio ">
                                        <input type="radio" name='amount'><i
                                            class="fa fa-check-circle-o fa-2x"></i><span class="number"> $250</span>
                                    </label>
                                    <label class="btn btn-radio   ">
                                        <input type="radio" name='amount'><i
                                            class="fa fa-check-circle-o fa-2x"></i><span class="number"> $500</span>
                                    </label>
                                    <label class="btn  btn-radio ">
                                        <input type="radio" name='amount'><i
                                            class="fa fa-check-circle-o fa-2x"></i><span class="number"> $1000</span>
                                    </label>

                                    <label class="btn btn-default-form u-textLeft custom-amount">
                                        <input type="radio" name='amount'>
                                        <div class="form-group form-group-default u-inline">
                                            <input type="text" class="form-control form-control-subtle number" name="$"
                                                   list="$" step="any" min="0" value="$0">
                                            <datalist id="$">
                                                <option value="50">$50</option>
                                                <option value="100">$100</option>
                                                <option value="200">$200</option>
                                                <option value="250">$250</option>
                                                <option value="350">$350</option>
                                                <option value="450">$450</option>
                                            </datalist>
                                        </div>
                                    </label>
                                </div>
                            </div><!-- // panel-body -->
                        </div><!-- // panel -->


                        <div class="panel panel-default give-modal-panel">
                            <div class="panel-heading">Gift Frequency</div>
                            <div class="panel-body">
                                <div class="" data-toggle="buttons">
                                    <label class="btn  btn-radio  btn-wide  active  ">
                                        <input type="radio" name='frequency' checked><i
                                            class="fa fa-check-circle-o fa-2x"></i><span
                                            class="giftsum-about giftsum-title"> Single Gift</span>
                                    </label>
                                    <label class="btn  btn-radio  btn-wide ">
                                        <input type="radio" name='frequency'><i
                                            class="fa fa-check-circle-o fa-2x"></i><span> Monthly</span>
                                    </label>
                                    <label class="btn  btn-radio btn-wide">
                                        <input type="radio" name='frequency'><i
                                            class="fa fa-check-circle-o fa-2x"></i><span> Quarterly</span>
                                    </label>
                                    <label class="btn btn-radio  btn-wide ">
                                        <input type="radio" name='frequency'><i
                                            class="fa fa-check-circle-o fa-2x"></i><span> Semi-Annually</span>
                                    </label>
                                    <label class="btn  btn-radio btn-wide">
                                        <input type="radio" name='frequency'><i
                                            class="fa fa-check-circle-o fa-2x"></i><span> Annually</span>
                                    </label>
                                </div>
                            </div><!-- // panel-body -->
                        </div><!-- // panel -->

                        <div class="panel panel-default give-modal-panel">
                            <div class="panel-heading">Transaction Date for Recurring Gifts</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Month</label>
                                            <div class="form-group">
                                                <select class="form-control  form-control-subtle" id="suffix">
                                                    <option value="January">January</option>
                                                    <option value="February">February</option>
                                                    <option value="March">March</option>
                                                    <option value="April">April</option>
                                                    <option value="May">May</option>
                                                    <option value="June">June</option>
                                                    <option value="July">July</option>
                                                    <option value="August">August</option>
                                                    <option value="September">September</option>
                                                    <option value="October">October</option>
                                                    <option value="November">November</option>
                                                    <option value="December">December</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label>Day</label>
                                            <div class="form-group">
                                                <select class="form-control  form-control-subtle" id="suffix">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                </select>
                                            </div>
                                        </div><!-- ./col-sm-4 -->
                                    </div>
                                </div>
                            </div><!-- // panel-body -->
                        </div><!-- // panel -->

                        <div class="panel panel-default give-modal-panel">
                            <div class="panel-heading">Optional Comments</div>
                            <div class="panel-body">
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="#" class="commentLink">Include a message for {Recipient}</a>
                                        <textarea rows="3" name="staff-comments"
                                                  class="staff-comments give-modal-comments"></textarea>
                                    </li>
                                    <li>
                                        <a href="#" class="commentLink">Include a message for Donation Services</a>
                                        <textarea rows="3" name="cru-comments"
                                                  class="cru-comments give-modal-comments"></textarea>
                                    </li>
                                </ul>
                            </div><!-- // panel-body -->
                        </div><!-- // panel -->


                    </div>

                    <div class="modal-footer">
                        <div class="col-md-6 col-sm-6">
                            <button type="button" class="btn btn-default btn-md btn-block-xs" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                        <div class="col-md-6 col-sm-6 text-right">
                            <button type="button" class="btn  btn-md btn-primary btn-block-xs">Add to Gift Cart</button>
                        </div>
                    </div>
                </div>

            </form>

        </div><!-- //modal-content -->
    </div><!-- //modal-dialog -->
</div><!-- //modal.fade -->