<!-- Slick Cart Related -->
<div class="panel">
  <div class="panel-body">

    <h3 class="panel-name">You May Also Be Interested In</h3>
    <div id="related-carousel" class="slick-related-carousel">

            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="">
                  <a href=""><img src="http://lorempixel.com/330/220/city/" /></a>
                </div>
                <div class="panel-body">
                  <h3><a href="" class="panel-title">Help Start a Cru on a campus Near You</a></h3>
                  <p>Optional Description Would be IN this spot here, but it's optional.</p>
                  <a href="" class="u-linkClean btn-default-border  icon--readNext">Read More </a>
                </div>
                <div class="panel-box">
                  <a href="" class="btn btn-block btn-default">Give a gift</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="">
                  <a href=""><img src="http://lorempixel.com/330/220/city/" /></a>
                </div>
                <div class="panel-body">
                  <h3><a href="" class="panel-title">Help Start a Cru on a campus Near You</a></h3>
                  <p>Optional Description Would be IN this spot here, but it's optional.</p>
                  <a href="" class="u-linkClean btn-default-border  icon--readNext">Read More </a>
                </div>
                <div class="panel-box">
                  <a href="" class="btn btn-block btn-default">Give a gift</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="">
                  <a href=""><img src="http://lorempixel.com/330/220/city/" /></a>
                </div>
                <div class="panel-body">
                  <h3><a href="" class="panel-title">Help Start a Cru on a campus Near You</a></h3>
                  <p>Optional Description Would be IN this spot here, but it's optional.</p>
                  <a href="" class="u-linkClean btn-default-border  icon--readNext">Read More </a>
                </div>
                <div class="panel-box">
                  <a href="" class="btn btn-block btn-default">Give a gift</a>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="">
                  <a href=""><img src="http://lorempixel.com/330/220/city/" /></a>
                </div>
                <div class="panel-body">
                  <h3><a href="" class="panel-title">Help Start a Cru on a campus Near You</a></h3>
                  <p>Optional Description Would be IN this spot here, but it's optional.</p>
                  <a href="" class="u-linkClean btn-default-border  icon--readNext">Read More </a>
                </div>
                <div class="panel-box">
                  <a href="" class="btn btn-block btn-default">Give a gift</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="">
                  <a href=""><img src="http://lorempixel.com/330/220/city/" /></a>
                </div>
                <div class="panel-body">
                  <h3><a href="" class="panel-title">Help Start a Cru on a campus Near You</a></h3>
                  <p>Optional Description Would be IN this spot here, but it's optional.</p>
                  <a href="" class="u-linkClean btn-default-border  icon--readNext">Read More </a>
                </div>
                <div class="panel-box">
                  <a href="" class="btn btn-block btn-default">Give a gift</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="">
                  <a href=""><img src="http://lorempixel.com/330/220/city/" /></a>
                </div>
                <div class="panel-body">
                  <h3><a href="" class="panel-title">Help Start a Cru on a campus Near You</a></h3>
                  <p>Optional Description Would be IN this spot here, but it's optional.</p>
                  <a href="" class="u-linkClean btn-default-border  icon--readNext">Read More </a>
                </div>
                <div class="panel-box">
                  <a href="" class="btn btn-block btn-default">Give a gift</a>
                </div>
              </div>
            </div>

    </div>

  </div>
</div>
<!-- // Slick Cart Related -->



  <script>
    $(document).ready(function(){
      $('.slick-related-carousel').slick({
        slidesToShow: 3,
        slidesToScroll: 3,
        adaptiveHeight: true,
        dots: false,
        useCSS: true,
        cssEase: 'ease-in-out',
        responsive: [
          {
            breakpoint: 1200,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2,
              infinite: true,
            }
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 549,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
          // You can unslick at a given breakpoint now by adding:
          // settings: "unslick"
          // instead of a settings object
        ]
      });
    });
  </script>
