<!-- Cart Search -->
<div class="panel">
  <div class="panel-body text-center">
    <h3 class="panel-name">Search by Name, Keyword, or Account Number</h3>
    <form class="form-inline text-center">
      <div class="form-group">
        <div class="input-group">
          <input type="text" size="60" class="form-control">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
        </div>
      </div>

    </form>
    <h5 class="text-uppercase small-text mt">Or Search by:</h5>
    <a href="" class="btn btn-link">Staff</a>  |  <a href="" class="btn btn-link">Ministries</a>  |  <a href="" class="btn btn-link">Fund Appeals</a>
  </div>
</div>
<!-- // Cart Search -->
