---
layout: give-default-layout
---

{% include primary-nav.html %}
{% include mobile-nav.html %}
{% include sub-nav.html %}

<div class="screenContent" tabindex="-1" role="dialog">
  <div class="postArticle  layoutSingleColumn--wide   container-fluid">
    <div class="section-title  u-centerBlock  masonry__item  col-md-12  col-xs-12  mb">
      <h1 class="u-inlineBlock  banner-title  ">Sign In</h1>
    </div>
    <div class="masonry__item  col-md-12  coverphoto  col-xs-12 container container-edge-small container-edge-extrasmall">
      <div class="panel panel-margin-bottom">
        <div>
          <div>
            <div class="col-md-6">
              <div class="panel panel-plain panel-nomargin sign-in-panel">
                <div class="panel-body">
                  <h3 class="text-center sign-in-title">Sign In</h3>
                  <form>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control form-control-subtle input-lg" id="" placeholder="Email">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Password</label>
                      <input type="password" class="form-control form-control-subtle input-lg" id=""
                             placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-lg btn-block btn-primary">
                      Sign In
                    </button>
                  </form>
                  <p class="text-center">
                    Forgot your password? <strong><a href="">Reset It</a></strong>
                  </p>
                   <div class="form-group">
                   <p class='text-center'>
                    Don't have an account?
                   </p>
                    <button type="submit" class="btn btn-lg btn-block btn-secondary">
                      Sign Up
                    </button>
                   </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- // panel -->
    </div>
  </div>
</div>

{% include footer-ecfa.html %}
{% include footer.html %}